
.green-block-and-text{
   display: flex;
    padding-left: 40px;
    padding-top: 50px;
    .green-block{
        width: 33px;
        height: 4px;
        margin-top: 22px;
        
        background: #618967;
        transform: rotate(90deg);
    }
    p{
        font-weight: 700;
        font-size: 32px;
        line-height: 44px;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        // color: #FFFFFF;
    }
}
